*{
  margin: 0;
  padding: 0;
}

.header{
display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */
flex-wrap: nowrap;
}

body{
  background-color: burlywood;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  flex-wrap: nowrap;
}

.html, .esewa, .vscode, .css, .htmlcss, .github, .htmlcssjs, .js, .hosting{
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0.1em;
  text-decoration: none;
  flex-wrap: wrap;
  overflow: hidden;
  object-fit: contain;
  justify-content: center;
}

.imgtext{
  width: 100%;
  text-decoration: none;
  padding-left: 1em;
  /* color: green; */
}
img{
  margin-top: 0.3em;
  overflow: hidden;
  /* object-fit: contain; */
  /* background-size: contain; */
}