.disablecopypaste {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  
  -ms-user-select: none; 
  
  -webkit-touch-callout: none; 
}

*{
  margin: 0;
  padding: 0;
}

.header{
display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */
flex-wrap: nowrap;
}

body{
  background-color: gainsboro;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  flex-wrap: nowrap;
}

.html, .esewa, .vscode, .css, .htmlcss, .github, .htmlcssjs, .js, .hosting{
  background-color: white;
  border-radius: 20px;
  border: 2px solid green;
  display: flex;
margin-top: 1em;
margin-bottom: 1em;
  text-decoration: none;
  flex-wrap: wrap;
  overflow: hidden;
  object-fit: contain;
  justify-content: center;
}

.imgtext{
  width: 100%;
  text-decoration: none;
  padding-left: 1em;
  /* color: green; */
}
img{
  margin-top: 0.3em;
  overflow: hidden;
  /* object-fit: contain; */
  /* background-size: contain; */
}